/* movie List for index.phtml*/
#movies ul li {
  float: left;
  width: 200px;
  height: 115px;
  border: double;
  margin: 0 5px 5px 0;
  overflow: hidden;
}
#movies ul li div.pic {
  float: left;
  height: 114px;
}
#movies ul li div.pic img {
  height: 100px;
  width: 65px;
  margin: 7px;
}
#movies ul li div:nth-child(2) {
  padding-top: 10px;
  font-weight: bold;
}
#movies ul li div:nth-child(3) {
  float: left;
  width: 110px;
  color: #00F;
}
#movies ul li div:nth-child(4) {
  color: #000000;
}
#movies ul li div.rating {
  float: right;
  width: 110px;
  color: #00F;
  position: relative;
  margin-top: 15px;
}
#movies ul li div.rating li.curr {
  border: 0;
  height: 20px;
}
